body {
  font-family: "Roboto", "Oswald", "Montserrat", sans-serif;
  margin: 0px 0px;
  max-width: 440px;
}

nav a {
  font-size: 32px;
  text-decoration: none;
  padding-left: 20px;
}

.logo {
  padding-top: 5px;
  max-width: 60%;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 900;
}

nav {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  min-height: 110px;
  max-width: 100%;
}

nav ul {
  padding: 0px;
  position: relative;
  top: 40px;
  padding-bottom: 20px;
}

nav li {
  display: none;
  z-index: 1000;
  padding: 20px 0px;
  top: 45px;
}

h1 {
  font-size: 38px;
  font-weight: 900;
}

/* Home page -----------*/

.header-news {
  max-width: 400px;
  padding-top: 10px;
}

.header-news h1 {
  margin-top: 5%;
}

.header-game-big {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.cover-big_img {
  max-width: 100%;
}

.cover-small_img {
  max-width: 100%;
}

.new-game {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 30%;
}

.new-games,
.used-games {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.new-games h2,
.used-games h2 {
  grid-column: -1/1;
}

#hamburger-menu,
#search-bar {
  display: none;
}

#search-field {
  display: none;
}

input {
  position: relative;
  top: 20%;
  min-height: 40px;
  min-width: 100%;
  top: 110px;
  z-index: -1;
  border-width: 3px;
  border-color: #c5d1d9;
  border-radius: 6px;
  margin-bottom: 4px;
}

#hamburger-menu:checked ~ nav li {
  display: block;
}

#search-bar:checked ~ #search-field {
  display: block;
}

.fas,
.fa-bars {
  font-size: 40px;
  margin: 30px 20px;
  z-index: 1000;
  position: fixed;
  left: 0.5em;
}

.fa-search {
  z-index: 1000;
  position: fixed;
  left: 270px;
}
